body{
    background-color: rgb(22, 57, 68);
   color:white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   max-width: 1200px;
   margin: 0 auto;
   padding: 15px;

}

header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}


h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
.informacoes{
    margin-top: 50px;
}
li{
   display: inline-block;
   margin: 20px;
   
}

a{
   color: white
}
a:hover{
   color: rgb(190, 231, 229)

}

main{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 50px;
}

form{
   display: flex;
   flex-direction: column;
   width: 60%;

}
img{
   width: 500px;
}

p{
   max-width: 500px;
   line-height: 30px;

}


input{
   margin-top: 15px;
   height: 15px;
   border-radius: 10px;
   font-size: 15px;
   padding: 20px;
   border: none;
}

#btn-enviar{
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 60%;
    color: rgb(0, 0, 0);
    font-size: large;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

#btn-enviar:hover{
   cursor: pointer;
   background-color: rgb(190, 231, 229);
}