body{
     background-color: rgb(22, 57, 68);
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{
    display: inline-block;
    margin: 20px;
    
}

a{
    color: white
}
a:hover{
    color: rgb(190, 231, 229)

}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
}
img{
    width: 500px;
}

p{
    max-width: 500px;
    line-height: 30px;

}


input{
    margin-top: 10px;
    height: 20px;
    border-radius: 10px;
    font-size: 15px;
    padding: 20px;
    border: none;

}

#btn-enviar{
    background-color: rgb(190, 231, 229);
    height: 20px;
    width: 70%;
    color: rgb(0, 0, 0);
    font-size: large;


}

#btn-enviar:hover{
    cursor: pointer;
}